<!-- for mobile and ipad view -->
<!-- Cards -->

<div class="slider-section">
    <div class="container ">
        <div class="text-center"><img src="assets/images/newlogo.png" class="mod-logo1"></div>
        <owl-carousel-o [options]="customOptions">
            <ng-container>
                <ng-template carouselSlide>
                    <div class="col-md-3 lemonade-card">
                        <!-- cards start -->
                        <div class="cards card-mod">
                            <div class="card-body">
                                <div class="text-center"><img src="assets/images/loginimg.png" class="mod-img"></div>
                                <div class="customer-reln">Customer & Order Management</div>
                                <div class="customer-exp">Manages Customer and Customer order lifecycle, also provides
                                    360 degree of customers data.</div>
                                <div class="text-center">
                                    <button (click)="loginPageNav()" class="module-btn">Enter</button></div>
                            </div>
                        </div>
                        <!-- cards ends -->
                    </div>
                </ng-template>
            </ng-container>
            <ng-container>
                <ng-template carouselSlide>
                    <div class="col-md-3 lemonade-card">
                        <!-- cards start -->
                        <div class="cards card-mod">
                            <div class="card-body">
                                <div class="text-center"><img src="assets/images/loginimg.png" class="mod-img"></div>
                                <div class="customer-reln">Product
                                    Management
                                </div>
                                <div class="customer-exp">Unified product catalogue for creating and delivery product
                                    definitions across multiple applications.
                                </div>
                                <div class="text-center"><button (click)="loginPageNav()"
                                        class="module-btn">Enter</button></div>
                            </div>
                        </div>
                        <!-- cards ends -->
                    </div>
                </ng-template>
            </ng-container>
            <ng-container>
                <ng-template carouselSlide>
                    <div class="col-md-3 lemonade-card">
                        <!-- cards start -->
                        <div class="cards card-mod">
                            <div class="card-body">
                                <div class="text-center"><img src="assets/images/loginimg.png" class="mod-img"></div>
                                <div class="customer-reln">Service
                                    Management
                                </div>
                                <div class="customer-exp">Streamline customer service process and enable exceptional
                                    customer experience.
                                </div>
                                <div class="text-center"><button (click)="loginPageNav()" class="module-btn">Enter</button></div>
                            </div>
                        </div>
                        <!-- cards ends -->
                    </div>
                </ng-template>
            </ng-container>
            <ng-container>
                <ng-template carouselSlide>
                    <div class="col-md-3 lemonade-card">
                        <!-- cards start -->
                        <div class="cards card-mod">
                            <div class="card-body">
                                <div class="text-center"><img src="assets/images/loginimg.png" class="mod-img"></div>
                                <div class="customer-reln">Number
                                    Management
                                </div>
                                <div class="customer-exp">Manages complete lifecycle of SIM, IMSI and MSISDN.
                                </div>
                                <div class="text-center"><button (click)="loginPageNav()" class="module-btn">Enter</button></div>
                            </div>
                        </div>
                        <!-- cards ends -->
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>


        <div class="row slider">
            <!-- <div class="col-md-3 lemonade-card">
        
                  <div class="cards card-mod">
                      <div class="card-body">
                          <div class="text-center"><img src="assets/images/loginimg.png" class="mod-img"></div>
                          <div class="customer-reln">Customer Relationship
                              Management</div>
                          <div class="customer-exp">Customer Experience Platform that
                              helps you deliver an exceptional
                              experience</div>
                          <div class="text-center"><button class="module-btn">Enter</button></div>
                      </div>
                  </div>
      
              </div> -->
            <!-- <div class="col-md-3 lemonade-card">
         
                  <div class="cards card-mod">
                      <div class="card-body">
                          <div class="text-center"><img src="assets/images/card2.png" class="mod-img"></div>
                          <div class="customer-reln">Product
                              Management</div>
                          <div class="customer-exp">Powerful financial platform
                              that helps you grow your
                              business</div>
                          <div class="text-center"><button class="module-btn">Enter</button></div>
                      </div>
                  </div>
    
              </div> -->


            <!-- <div class="col-md-3 lemonade-card">
  
                  <div class="cards card-mod">
                      <div class="card-body">
                          <div class="text-center"><img src="assets/images/card3.png" class="mod-img"></div>
                          <div class="customer-reln">Service
                              Management</div>
                          <div class="customer-exp">A management discipline aimed at
                              providing quality services that
                              customers will value</div>
                          <div class="text-center"><button class="module-btn">Enter</button></div>
                      </div>
                  </div>

              </div> -->

            <!-- <div class="col-md-3 lemonade-card ">
            
                  <div class="cards card-mod">
                      <div class="card-body">
                          <div class="text-center"><img src="assets/images/card4.png" class="mod-img"></div>
                          <div class="customer-reln">Number
                              Management</div>
                          <div class="customer-exp">Give your IT the cloud advantage and
                              secure your hybrid environment
                              optimal productivity</div>
                          <div class="text-center"><button class="module-btn">Enter</button></div>
                      </div>
                  </div>
              
              </div> -->
        </div>
    </div>
</div>


<!-- for dekstop view -->
<!-- <div class="container">
      <h1>Test</h1>
  </div> -->
<div class="ss">
    <div class="test">
        <div class="">
            <div class="container text-center">
            <button (click)="goToJenkinsDemoComponent()" style="background-color: blue; color: white; border-radius: 10px; padding: 10px 20px; margin-top: 20px; display: inline-block;">Jenkins </button>
            </div>

            <div class="container d-flex mod-section align-items-center " style="margin-top:90px;">

                <!-- cards start -->
                <div class="cards card-mod">
                    <div class="card-body">
                        <div class="text-center"><img src="assets/images/loginimg.png" class="mod-img"></div>
                        <div class="customer-reln">Customer & Order Management</div>
                        <div class="customer-exp">Manages Customer and Customer order lifecycle, also provides 360
                            degree of customers data.</div>
                        <div class="text-center"><button tabindex="1" (click)="loginPageNav()" class="module-btn"
                                id="customer">Enter</button></div>
                    </div>
                </div>
                <!-- cards ends -->
                <!-- cards2 start -->
                <div class="cards card-mod">
                    <div class="card-body">
                        <div class="text-center"><img src="assets/images/card2.png" class="mod-img"></div>
                        <div class="customer-reln">Product<br>
                            Management</div>
                        <div class="customer-exp">Unified product catalogue for creating and delivery product
                            definitions across multiple applications.</div>
                        <div class="text-center"><button tabindex="2" (click)="loginToProductManagement()"
                                class="module-btn" id="product">Enter</button></div>
                    </div>
                </div>
                <!-- cards2 ends -->
                <!-- cards3 start -->
                <div class="cards card-mod">
                    <div class="card-body">
                        <div class="text-center"><img src="assets/images/card3.png" class="mod-img"></div>
                        <div class="customer-reln">Service<br>
                            Management</div>
                        <div class="customer-exp">Streamline customer service process and enable exceptional customer
                            experience.</div>
                        <div class="text-center"><button tabindex="3" (click)="loginPageNav1()" class="module-btn"
                                id="service">Enter</button></div>
                    </div>
                </div>
                <!-- cards3 ends -->
                <!-- cards4 start -->
                <div class="cards card-mod">
                    <div class="card-body">
                        <div class="text-center"><img src="assets/images/card4.png" class="mod-img"></div>
                        <div class="customer-reln">Number<br>
                            Management</div>
                        <div class="customer-exp">Manages complete lifecycle of SIM, IMSI and MSISDN.</div>
                        <div class="text-center"><button tabindex="4" (click)="loginPageNavNumber() " class="module-btn"
                                id="number">Enter</button></div>
                    </div>
                </div>
                <!-- cards4 ends -->

            </div>
        </div>
    </div>
</div>