<div class="login-parent ">
    <div class="container-fluid loginh">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="assets/images/loginimg.png" class="login-img">
                </div>
            </div>
            <div class="col-lg-6 bg-mob" style="background-image: 'assets/images/Rectangle7.png'">
                <div class="login-card-parent">
                    <div class="card logincard">
                        <form [formGroup]="forgotPasswordForm">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="assets/images/Aviate-Logo-Design-25012023-Final 1.png" class="card-logo">
                                </div>
                                <div class="sign-in">FORGOT PASSWORD</div>
                                <p style="color: #6c757d!important;">Please check your mail after submitting the
                                    registered mail id.</p>
                                <label class="username-label">Email Address</label>
                                <div class=""><input type="text" id="username" formControlName="email"
                                        placeholder="Enter email" class=" text-boxfield1 w-100">
                                </div>
                                <div class="text-center"> <button id="sign-in" class="sign-in-btn"
                                        (click)="sendLink()">Send
                                        Link</button>
                                </div>
                            </div>
                            <div class="forgot-pas" (click)="loginIn()">Back to Sign In</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>