.text-boxfield1{
    padding: 11px;
}
.text-boxfield2{
    padding: 11px;
}
.eye-icon{
    position: relative;
}
.showHidePass{
    position: absolute;
    top: 50%;
    right:0%;
    transform: translate(-50% , -50%);
    
}
.showHideConfPass{
    position: absolute;
    top: 50%;
    right:0%;
    transform: translate(-50% , -50%);
    
}
.loginh{
    height:500px;
}
.forgot-pas{
    cursor: pointer;
}