<div class="login-parent ">
    <div class="container-fluid loginh">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="assets/images/loginimg.png" class="login-img">
                </div>
            </div>
            <div class="col-lg-6 bg-mob" style="background-image: 'assets/images/Rectangle7.png'">
                <!-- <img src="assets/images/Rectangle 7.png" class="purple-rectangle"> -->
                <!-- <img src="assets/images/Rectangle 13.png" class="yellow-rectangle"> -->
                <form>
                    <div class="login-card-parent">
                        <div class="card logincard">
                            <div class="card-body">
                                <form [formGroup]="confirmPasswordForm">
                                    <div class="text-center">
                                        <img src="assets/images/Aviate-Logo-Design-25012023-Final 1.png"
                                            class="card-logo">
                                    </div>
                                    <!-- <div class="sign-in">CHANGE PASSWORD</div> -->
                                    <label class="username-label">New Password</label>
                                    <div class="eye-icon"><input id="new-password" formControlName="password"
                                            [type]="showPassword ? 'text':'password'" class=" text-boxfield2 w-100">
                                        <div *ngIf="showPassword" (click)="changePassword(false)">
                                            <i class="fa fa-eye showHidePass" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="!showPassword" (click)="changePassword(true)">
                                            <i class="fa fa-eye-slash  showHidePass" (click)="showPassword=false"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <label class="username-label mt-3">Confirm Password</label>
                                    <div class="eye-icon"><input id="confirm-password" formControlName="newPassword"
                                            [type]="showConfirmPassword ? 'text':'password'"
                                            class=" text-boxfield2 w-100">
                                        <div *ngIf="showConfirmPassword" (click)="changeConfirmPassword(false)">
                                            <i class="fa fa-eye showHideConfPass" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="!showConfirmPassword" (click)="changeConfirmPassword(true)">
                                            <i class="fa fa-eye-slash  showHideConfPass"
                                                (click)="showConfirmPassword=false" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="confirmPasswordForm.controls['newPassword'].touched">
                                        <span
                                            *ngIf="confirmPasswordForm.controls['password'].value && confirmPasswordForm.controls['newPassword'].errors?.['confirmPasswordValidator']"
                                            class="validate-text">Password does not match</span>
                                    </div>
                                    <div class="text-center"> <button id="sign-in" class="sign-in-btn"
                                            (click)="submit()" [disabled]="confirmPasswordForm.invalid">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>